body {
    font-size: 20;
}

h1 {
    margin-left: 20px;
    margin-bottom: 3%;
    margin-top: 2%;
}

form {
    margin-left: 20px;
}

.ul {
    display: inline-block;
    margin-left: 0;
}

.ul .lines{
    color: #AAAAAA;
    display: inline-block;
    position: relative;
}

.ul .lines input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.ul .lines label {
    float: right;
    font-weight: 100;
    font-size: 20;
    margin-left: 30px;
    margin-right: -10px;
    margin-bottom: 5px;
    z-index: 20;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.ul .lines:hover label{
    color: #5C5E5E;
}

.ul .lines .choicebutton {
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.ul .lines:hover .choicebutton{
    border: 5px solid #5C5E5E;
}

.ul .lines .choicebutton::before {
    position: inherit;
	content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 1px;
	left: 1px;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .choicebutton {
    border: 5px solid #2D2E2E;
  }

input[type=radio]:checked ~ .choicebutton::before {
    background: #2D2E2E;
}

input[type=radio]:checked ~ label {
    color: #2D2E2E;
}

.upload-file {
    margin-right: 20px;
    display: inline;
    
}

.upload-div {
    width: 25%;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid #BBBFBF;
    border-width: 0.5;
}

.wrapper-div {
    width: 50%;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid #BBBFBF;
    border-width: 0.5;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-family: Tahoma;
    font-size: 18;
    color: #ffffff;
    background: url('upload.png') no-repeat;
    background-position-x: 6px;
    background-position-y: 7px;
    background-color: #343a40;
    display: inline-block;
    padding: 5px 15px 5px 35px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #5C5E5E;
}