<head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
</head>
<body>
<div id="map" class="map" style="height: 400px; width: 800px"></div>
<script>
    let raster = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    let editableStyle = [
        new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#59a9ff',
                width: 3
            }),
            fill: new ol.style.Fill({
                color: 'rgba(255, 255, 255, 0.6)'
            })
        }),
        new ol.style.Style({
            image: new ol.style.Circle({
                radius: 5,
                fill: new ol.style.Fill({
                    color: '#4eccff'
                })
            }),
            /*geometry: function (feature) {
                let center = feature.getGeometry().getCenter();
                return new ol.geom.Point(center);
            }*/
        })
    ];

    let uneditableStyle = [
        new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#C4C4C4',
                width: 3
            }),
            fill: new ol.style.Fill({
                color: 'rgba(255, 255, 255, 0.2)'
            })
        })
    ];

    let source = new ol.source.Vector();
    let vector = new ol.layer.Vector({
        source: source,
        style: editableStyle
    });

    let bufferSource = new ol.source.Vector();
    let bufferVector = new ol.layer.Vector({
        source: bufferSource,
        style: uneditableStyle
    });

    let map = new ol.Map({
        layers: [raster, vector, bufferVector],
        target: 'map',
        view: new ol.View({
            center: ol.proj.fromLonLat([10.4283, 55.3688]),
            zoom: 16
        })
    });

    const bufferSize = {{ bufferSize }};
    const flightId = "flightId";
    const bufferId = "bufferCircleId";
    let draw, flightZone; // global so we can remove them later
    let modify = new ol.interaction.Modify({
        source: source
    });

    map.addInteraction(modify);

    function addInteractions() {
        draw = new ol.interaction.Draw({
            source: source,
            type: "Polygon"
        });

        draw.on('drawend', function (e) {
            let circle = e.feature.getGeometry();
            e.feature.setId(flightId);
            //drawBuffer(circle.getCenter(), circle.getRadius(), circle.getLayout());
            map.removeInteraction(draw);
            circle.scale(2);
            let point = circle.getLinearRing(0).getCoordinates()[0];
            console.log(point);
            let center = getCenterOfExtent(circle.getExtent());
            console.log(center);
            let dist = Math.sqrt(Math.pow((center[0]-point[0]), 2) + Math.pow((center[1]-point[1]), 2));
            console.log(dist/bufferSize);

        });

        map.addInteraction(draw);
    }

    function getCenterOfExtent(Extent) {
        let X = Extent[0] + (Extent[2] - Extent[0]) / 2;
        let Y = Extent[1] + (Extent[3] - Extent[1]) / 2;
        return [X, Y];
    }

    /*function addInteractions() {
        draw = new ol.interaction.Draw({
            source: source,
            type: "Circle"
        });

        draw.on('drawend', function (e) {
            let circle = e.feature.getGeometry();
            e.feature.setId(flightId);
            drawBuffer(circle.getCenter(), circle.getRadius(), circle.getLayout());
            map.removeInteraction(draw);

            circle.on('change', function (e) {
                updateBuffer(e.target);
            });
        });

        map.addInteraction(draw);
    }*/

    function drawBuffer(center, radius) {
        radius = radius + bufferSize;
        flightZone = new ol.geom.Circle(center, radius);
        let feature = new ol.Feature({
            geometry: flightZone
        });
        feature.setId(bufferId);
        bufferSource.addFeature(feature);
    }

    function updateBuffer(circle) {
        let bufferCircle = bufferSource.getFeatureById(bufferId).getGeometry();

        bufferCircle.setCenter(circle.getCenter());
        bufferCircle.setRadius(circle.getRadius() + bufferSize);
    }

    addInteractions();
</script>
</body>